# Wrangling a stroke dataset

Thrombolysis is a clot busting treatment for people suffering from a ischemic stroke: where a blood clot is preventing blood flow to the brain causing it to die. In England, national data on thrombolysis treatment at individual hospitals strokes is collected and stored centrally.   This exercise will make use of synthetic dataset based on the real data used in 

**Allen M, Pearn K, Monks T, Bray BD, Everson R, Salmon A, James M, Stein K (2019). *Can clinical audits be enhanced by pathway simulation and machine learning? an example from the acute stroke pathway*. BMJ Open, 9(9).**

The data you are presented with in a data science or machine learning study nearly always requires a preprocessing step.  This may include wrangling the data into a format suitable for machine learning, understanding (and perhaps imputing) missing values and cleaning/creation of features.  In this exercise you will need to wrangle the stroke thrombolysis dataset.

## Exercise 1: Read and initial look

The dataset is held in `synth_lysis.csv`.

**Task**:
* Read the stroke thrombolysis dataset into a `pandas.DataFrame`
* Use appropriate `pandas` and `DataFrame` methods and functions to gain an overview of the dataset and the features it contains.

**Hints**:
* You might look at:
    * Size of the dataset, feature (field/variable) naming, data types, missing data etc.

In [1]:
import pandas as pd
DATA_URL = 'data/synth_lysis.csv'

# your code here ...

In [2]:
# example solution
lysis = pd.read_csv(DATA_URL)

# take a look at basic info - size of dataset, features, datatypes, missing data
lysis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   hospital              2000 non-null   object
 1   Male                  2000 non-null   object
 2   Age                   2000 non-null   int64
 3   severity              1753 non-null   object
 4   stroke type           1801 non-null   object
 5   Comorbidity           915 non-null    object
 6   S2RankinBeforeStroke  2000 non-null   int64
 7   label                 2000 non-null   object
dtypes: int64(2), object(6)
memory usage: 125.1+ KB

In [3]:
lysis.head()

,hospital,Male,Age,severity,stroke type,Comorbidity,S2RankinBeforeStroke,label
0,Hosp_7,Y,65,Minor,clot,NaN,0,N
1,Hosp_8,N,99,Moderate to severe,clot,NaN,3,N
2,Hosp_8,N,49,NaN,clot,NaN,0,N
3,Hosp_1,N,77,Moderate,clot,Hypertension,0,Y
4,Hosp_8,N,86,Minor,clot,Hypertension,0,N

## Exercise 2: Clean up the feature names

The naming of features in this dataset is inconsistent.  There is mixed capitalisation and use of spaces in variable names. A feature is called `label` which is not particularly useful.  This is the label indicating if a patient recieved thrombolysis or not.  

**Task**:
* convert all feature names to lower case 
* remove all spaces from names
* rename `label` to `treated`.

**Hints**:
* Assuming your `DataFrame` is called `df` you can get and set the column names using `df.columns`

In [4]:
# your code here...

In [5]:
# example solution
feature_names = list(lysis.columns)
feature_names = [s.lower().replace(' ', '_') for s in feature_names]
feature_names[-1] = 'treated'
lysis.columns = feature_names
lysis.head()

,hospital,male,age,severity,stroke_type,comorbidity,s2rankinbeforestroke,treated
0,Hosp_7,Y,65,Minor,clot,NaN,0,N
1,Hosp_8,N,99,Moderate to severe,clot,NaN,3,N
2,Hosp_8,N,49,NaN,clot,NaN,0,N
3,Hosp_1,N,77,Moderate,clot,Hypertension,0,Y
4,Hosp_8,N,86,Minor,clot,Hypertension,0,N

## Exercise 3: Create a pre-processing function

It is useful to cleanly organise your data wrangling code.  Let's create a skeleton of one now before we get into any detailed wrangling.

There are a number of ways we might do this from functions, classes to specialist libraries such as [`pyjanitor`](https://pyjanitor.readthedocs.io/index.html#).  Here we will prefer our own simple functions. 

**Task**:
* Create a function `wrangle_lysis`
* The function should accept a `str` parameter specifying the data url or directory path and filename of our thrombolysis data set.
* For now set the function up to read in the data (from exercise 1) and clean the feature headers (exercise 2). 
* The function should return a `pd.DataFrame` containing the stroke thrombolysis data.

**Hints**:
* Get into the habit of writing a simple docstring for your functions.

> This function will come in handy for the later exercises where you may make mistakes and muck up your nicely cleaned datasets!  You can just reload and process them with one command after this exercise.

In [6]:
# your code here ...

In [7]:
# example solution

def wrangle_lysis(path):
    '''
    Preprocess and clean the stroke thrombolysis dataset.
    
    Params:
    -------
    path: str
        URL or directory path and filename 
        
    Returns:
    --------
    pd.DataFrame
        Preprocessed stroke thrombolysis data
    '''
    lysis = pd.read_csv(path)
    lysis.columns = clean_feature_names(list(lysis.columns))
    return lysis

def clean_feature_names(current_feature_names):
    '''
    Clean the stroke lysis feature names.
    1. All lower case
    2. Replace spaces with '_'
    3. Rename 'label' column to 'treated'
    
    Params:
    ------
    current_feature_names: list
        List of the feature names 
        
    Returns:
    -------
    list
        A modified list of feature names 
    '''
    feature_names = [s.lower().replace(' ', '_') for s in current_feature_names]
    feature_names[-1] = 'treated'
    return feature_names

In [8]:
DATA_URL = 'data/synth_lysis.csv'
lysis = wrangle_lysis(DATA_URL)
lysis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   hospital              2000 non-null   object
 1   male                  2000 non-null   object
 2   age                   2000 non-null   int64
 3   severity              1753 non-null   object
 4   stroke_type           1801 non-null   object
 5   comorbidity           915 non-null    object
 6   s2rankinbeforestroke  2000 non-null   int64
 7   treated               2000 non-null   object
dtypes: int64(2), object(6)
memory usage: 125.1+ KB

## Exercise 4: Explore categorical features

A number of features are categorical.  For example, `male` contains two values `Y` (the patient is male) and `N` (the patient is not male).

**Task**:
* List the categories contained in the following fields:

```python
fields = ['hospital', 'male', 'severity', 'stroke_type', 'treated']
```

In [9]:
# your code here ...

In [10]:
# example solution
# one option is to list the unique fields individually e.g.
# note you could also sort the array - but watch out for NaN's
import numpy as np

lysis['hospital'].unique()

array(['Hosp_7', 'Hosp_8', 'Hosp_1', 'Hosp_6', 'Hosp_2', 'Hosp_4',
       'Hosp_3', 'Hosp_5'], dtype=object)

In [11]:
# option 2 - do this in a loop
categorical_features = ['hospital', 'male', 'severity', 'stroke_type', 'treated']

for feature in categorical_features:
    print(f'{feature}: {lysis[feature].unique()}')

hospital: ['Hosp_7' 'Hosp_8' 'Hosp_1' 'Hosp_6' 'Hosp_2' 'Hosp_4' 'Hosp_3' 'Hosp_5']
male: ['Y' 'N']
severity: ['Minor' 'Moderate to severe' nan 'Moderate' 'Severe' 'No stroke symtpoms']
stroke_type: ['clot' 'bleed' nan]
treated: ['N' 'Y']

## Exercise 5: Encode categorical fields with 2 levels 

In exercise 4, you should find that the `male` and `treated` columns have two levels (yes and no). If we take `male` as an example we can encode it as a single feature as follows:

$$ x_i = \Bigg\{ \begin{matrix} 1 & \mbox{if }i \mbox{th person is male}
\\  0 & \mbox{if }i \mbox{th person is female}\end{matrix} $$

> Note: we will deal with `stroke_type` which has two levels and missing data in exercise 6.

**Task**:
* Encode `male` and `treated` to be binary 0/1 fields.
* Update `wrangle_lysis` to include this code.

**Hints**
* [Try the `pd.get_dummies`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.get_dummies.html) function. 
* Remember that you only need one variable when a categorical field has two values. You can use the `drop_first=True` to keep only one variable (just make sure its the right one!).

In [12]:
# your code here ...

In [13]:
# example solution
# drop_first=True keeps the Y column
male = pd.get_dummies(lysis['male'], drop_first=True)
male.columns = ['_male']

# we will insert to just double check
lysis.insert(1,'_male', male)

# check - looks okay 1's and 0's match with Y and N.
lysis.head()

,hospital,_male,male,age,severity,stroke_type,comorbidity,s2rankinbeforestroke,treated
0,Hosp_7,1,Y,65,Minor,clot,NaN,0,N
1,Hosp_8,0,N,99,Moderate to severe,clot,NaN,3,N
2,Hosp_8,0,N,49,NaN,clot,NaN,0,N
3,Hosp_1,0,N,77,Moderate,clot,Hypertension,0,Y
4,Hosp_8,0,N,86,Minor,clot,Hypertension,0,N

In [14]:
treated = pd.get_dummies(lysis['treated'], drop_first=True)
lysis.insert(len(lysis.columns)-1,'_treated', treated)

# check - looks okay 1's and 0's match with Y and N.
lysis.head()

,hospital,_male,male,age,severity,stroke_type,comorbidity,s2rankinbeforestroke,_treated,treated
0,Hosp_7,1,Y,65,Minor,clot,NaN,0,0,N
1,Hosp_8,0,N,99,Moderate to severe,clot,NaN,3,0,N
2,Hosp_8,0,N,49,NaN,clot,NaN,0,0,N
3,Hosp_1,0,N,77,Moderate,clot,Hypertension,0,1,Y
4,Hosp_8,0,N,86,Minor,clot,Hypertension,0,0,N

In [15]:
# update preprocessing function

# example solution

def wrangle_lysis(path):
    '''
    Preprocess and clean the stroke thrombolysis dataset.
    
    Params:
    -------
    path: str
        URL or directory path and filename 
        
    Returns:
    --------
    pd.DataFrame
        Preprocessed stroke thrombolysis data
    '''
    lysis = pd.read_csv(path)
    lysis.columns = clean_feature_names(list(lysis.columns))
    encode_features(lysis)
    return lysis


def encode_features(df):
    '''
    Encode the features in the dataset
    
    Params:
    ------
    df: pd.DataFrame
        lysis dataframe
    '''
    df['male'] = pd.get_dummies(lysis['male'], drop_first=True)
    df['treated'] = pd.get_dummies(lysis['treated'], drop_first=True)

In [16]:
DATA_URL = 'data/synth_lysis.csv'
lysis = wrangle_lysis(DATA_URL)
lysis.head()

,hospital,male,age,severity,stroke_type,comorbidity,s2rankinbeforestroke,treated
0,Hosp_7,1,65,Minor,clot,NaN,0,0
1,Hosp_8,0,99,Moderate to severe,clot,NaN,3,0
2,Hosp_8,0,49,NaN,clot,NaN,0,0
3,Hosp_1,0,77,Moderate,clot,Hypertension,0,1
4,Hosp_8,0,86,Minor,clot,Hypertension,0,0

# Exercise 6: Encoding fields with > 2 categories

The process to encode features with more than category is almost identical to that used in exercise 6.  For example the `hospital` field contains 8 unique values.  There are now two options.  

1. encode as 7 dummy variables where all 0's indicates hospital 1.
2. use a one-hot encoding and include 8 variables.  The additional degree of freedom allows you to encode missing data as all zeros. 

Note that some methods such as ordinary least squares regression requires you to take approach one

In [ ]:
def encode_features(df):
    '''
    Encode the features in the dataset
    
    Params:
    ------
    df: pd.DataFrame
        lysis dataframe
    '''
    df['male'] = pd.get_dummies(df['male'], drop_first=True)
    df['treated'] = pd.get_dummies(df['treated'], drop_first=True)

In [22]:
hospitals = pd.get_dummies(lysis['hospital'], drop_first=False)

In [23]:
pd.concat([hospitals, lysis], axis=1)

,Hosp_1,Hosp_2,Hosp_3,Hosp_4,Hosp_5,Hosp_6,Hosp_7,Hosp_8,hospital,male,age,severity,stroke_type,comorbidity,s2rankinbeforestroke,treated
0,0,0,0,0,0,0,1,0,Hosp_7,1,65,Minor,clot,NaN,0,0
1,0,0,0,0,0,0,0,1,Hosp_8,0,99,Moderate to severe,clot,NaN,3,0
2,0,0,0,0,0,0,0,1,Hosp_8,0,49,NaN,clot,NaN,0,0
3,1,0,0,0,0,0,0,0,Hosp_1,0,77,Moderate,clot,Hypertension,0,1
4,0,0,0,0,0,0,0,1,Hosp_8,0,86,Minor,clot,Hypertension,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,0,0,0,0,0,0,0,1,Hosp_8,0,62,Moderate,clot,Diabetes,0,1
1996,0,0,1,0,0,0,0,0,Hosp_3,0,79,NaN,clot,NaN,0,1
1997,0,0,0,0,0,0,0,1,Hosp_8,0,47,Moderate,bleed,NaN,0,0
1998,0,0,1,0,0,0,0,0,Hosp_3,1,69,Moderate,clot,NaN,0,1
1999,0,0,0,0,0,0,0,1,Hosp_8,0,50,Moderate,clot,NaN,0,1